<h1 class="title">Create an advanced marker</h1>
<h4 class="subtitle">This tutorial shows you how to add a simple Google map with a marker to a web page.</h4>
<div id="map" data-controller="geolocation" data-geolocation-page-value="advanced_marker"></div>
