<h1 class="title">Create an centered marker</h1>
<h4 class="subtitle">This example adds a fixed marker in the center of the map.</h4>
<div class="parent_map">
  <div id="map" data-controller="geolocation" data-geolocation-page-value="centered_marker"></div>
  <div class="centerMarker"></div>
</div>