<h1 class="title">Circles</h1>
<h4 class="subtitle">This example creates circles on the map, representing populations in North America..</h4>
<div id="map" data-controller="geolocation" data-geolocation-target="circles"></div>
<%= link_to "Back", locations_path, class: "button is-primary mt-4" %>
