<h1 class="title">Cluster markers</h1>
<h4 class="subtitle">This example use marker clusters to display a large number of markers on a map.</h4>
<h4 class="subtitle has-text-warning-dark">npm install @googlemaps/markerclusterer</h4>
<h4 class="subtitle has-text-warning-dark">import { MarkerClusterer } from "@googlemaps/markerclusterer";</h4>
<div id="map" data-controller="geolocation" data-geolocation-page-value="cluster_markers"></div>
