<h1 class="title">Find Location Coordinates</h1>
<div id="map" data-controller="geolocation" data-geolocation-target="coordinates"></div>
<%= link_to "Back", locations_path, class: "button is-primary mt-4" %>
