<h1 class="title">Custom Map Projections</h1>
<h4 class="subtitle">This example creates a map using the Gall-Peters projection, rather than the default Mercator projection.</h4>
<div id="map" data-controller="geolocation" data-geolocation-target="custom"></div>
<div id="coords"></div>
<%= link_to "Back", locations_path, class: "button is-primary mt-4" %>
