<h1 class="title">Customize advanced marker</h1>
<h4 class="subtitle">This example shows how to customize markers in the following ways:</h4>
<ul>
  <li>Add title text</li>
  <li>Scale the marker</li>
  <li>Change the background color</li>
  <li>Change the border color</li>
  <li>Change the glyph color</li>
  <li>Hide the glyph</li>
</ul>
<div id="map" data-controller="geolocation" data-geolocation-page-value="customize_advanced_marker"></div>
