<h1 class="title">Geolocation</h1>
<h4 class="subtitle">This example creates a map that displays the geographic location of a user or device on a Google map, through use of their browser's HTML5 Geolocation feature. The user must consent to location sharing or else an error is shown.</h4>
<div id="map" data-controller="geolocation" data-geolocation-page-value="geolocation"></div>
