<h1 class="title">Simple HTML Marker</h1>
<h4 class="subtitle">This example shows creating a new marker, replacing the default icon with custom HTML and CSS.</h4>
<div id="map" data-controller="geolocation" data-geolocation-target="htmlMarker"></div>
<%= link_to "Back", locations_path, class: "button is-primary mt-4" %>
