<h1 class="title">Create interactive markers using HTML and CSS</h1>
<h4 class="subtitle">This example shows creating interactive markers using HTML and CSS.</h4>
<div id="map" data-controller="geolocation" data-geolocation-target="interactiveMarker"></div>
<%= link_to "Back", locations_path, class: "button is-primary mt-4" %>
