<h1 class="title">Getting Lat/Lng from a Click Event</h1>
<h4 class="subtitle">This example listens for the click event, gets the latitude and longitude coordinates of the click from google.maps.MapMouseEvent.latLng, and displays those coordinates in an info window.</h4>
<div id="map" data-controller="geolocation" data-geolocation-page-value="lat_lng"></div>