<h1 class="title">Lat/Lng Object Literal</h1>
<h4 class="subtitle">This example demonstrates using a LatLng object literal instead of a google.maps.LatLng object, to center the map and add a marker. LatLng object literals are a convenient way to add a LatLng coordinate and, in most cases, can be used in place of a google.maps.LatLng object.</h4>
<div id="map" style="height: 500px;" data-controller="geolocation" data-geolocation-page-value="literal"></div>
