<h1 class="title">Localizing the Map</h1>
<h4 class="subtitle">This example creates a map that's localized in Japanese, regardless of the user's browser settings. The region is also set to Japan, which biases the geocoding results to that region.</h4>
<div id="map" style="height: 500px;" data-controller="geolocation" data-geolocation-page-value="localizing"></div>
