<h1 class="title">Showing Pixel and Tile Coordinates</h1>
<h4 class="subtitle">This example creates a map that displays a window with the latitude, longitude, and world, pixel, and tile coordinates for Port of Spain, Trinidad and Tobago. It also shows how these values change as the zoom level is adjusted.</h4>
<div id="map" data-controller="geolocation" data-geolocation-page-value="pixel_tile"></div>
