<h1 class="title">Getting Properties With Event Handlers</h1>
<h4 class="subtitle">This example listens for the zoom_changed event and updates an info window when the zoom level changes.</h4>
<div id="map" data-controller="geolocation" data-geolocation-page-value="properties"></div>
