<h1 class="title">Right-to-Left Languages</h1>
<h4 class="subtitle">This example creates a map that renders a map of Cairo, Egypt in Arabic.</h4>
<div id="map" style="height: 500px;" data-controller="geolocation" data-geolocation-page-value="right_to_left"></div>
