<h1 class="title">Simple map</h1>
<h4 class="subtitle">This example creates a map that's centered on Port of Spain, Trinidad and Tobago.</h4>
<div id="map" data-controller="geolocation" data-geolocation-target="simpleMap"></div>
<%= link_to "Back", locations_path, class: "button is-primary mt-4" %>
