<h1>Simple map</h1>
<div id="map" style="height: 500px;" data-controller="geolocation" data-geolocation-page-value="simple_map"></div>
<%# <button data-controller="geolocation" data-action="geolocation#simple_map">Click</button> %>
<%# <div class="load" data-controller="geolocation" data-action="turbo:load->geolocation#load"></div>
<div class="load" data-controller="geolocation" data-action="turbo:frame_load->geolocation#frame_load"></div>
<div class="render" data-controller="geolocation" data-action="turbo:render->geolocation#render"></div>
<div class="render" data-controller="geolocation" data-action="turbo:frame_render->geolocation#frame_render"></div>
<div class="render" data-controller="geolocation" data-action="turbo:before-render->geolocation#before_render"></div>
<div class="render" data-controller="geolocation" data-action="turbo:before-stream-render->geolocation#before_stream_render"></div>
<div class="visit" data-controller="geolocation" data-action="turbo:visit->geolocation#visit"></div> %>