<h1 class="title">Simple Click Events</h1>
<h4 class="subtitle">This example demonstrates the use of event listeners. It</h4>
<ul>
  <li>listens for the click event on a marker to zoom the map when the marker is clicked.</li>
  <li>listens for the center_changed event to pan the map back to the marker after 3 seconds.</li>
</ul>
<div id="map" style="height: 500px;" data-controller="geolocation" data-geolocation-page-value="simple_click"></div>
