/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

#coords {
  background-color: black;
  color: white;
  padding: 5px;
}

#map {
  height: 500px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.parent_map .centerMarker {
  position: absolute;
  background-image: url('map/marker.png');
  /*center the marker*/
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-left: -20px;
  margin-top: -40px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

/* HTML marker styles */
.price-tag {
  background-color: #4285F4;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.price-tag::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4285F4;
}

[class$=api-load-alpha-banner] {
  display: none;
}
